emslandringTiming/.venv/
emslandringTiming/emslandring.db
emslandringTiming/server/data/timing.db
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/
*.log
*.sqlite
*.db
Firebase Datenbank Schlüssel/
